.navbarContein{
    background-color: #0006;
    backdrop-filter: blur(8px);
    padding: 0 !important;
    width: 100%;
    position: fixed;
    transition: all 0.4s ease-in-out;
    z-index: 1000000;

}
.logo{
    height: 35px;
    margin-left: 30px;
}
.hamburger{
    cursor:pointer;
    font-size: 2rem;
    color: #fff;
    margin-right: 40px;
}
.nav-links{
    font-size: 1.1rem;
    padding: 40px;
    margin-top: -30px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #fff;
    text-transform: capitalize;
}
.nav-links a{
    margin-top: 20px;
    cursor: pointer;
}
.nav-links a::first-letter{
    color: var(--bg-color-secondary);
}
.nav-links a:hover {
    color: var(--bg-color-secondary);
}
.activeNav{
    position: absolute;
    height: 100vh;
    background-color: #000;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1000000;
}
.disabledNav{
    position: absolute;
    background-color: #000;
    height: 100vh;
    right: -200px;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000000;
}
.nav-links button{
    margin-right: 10px;
    outline: none;
    padding: 0;
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.nav-contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    height: 50px;
    position: relative; 
    z-index: 1000000;
}
.disableNavActive{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #0009;
    transition: all 0.3s ease-in-out;
}
.disableNavDisable{
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: #0000;
    
}
@media(min-width:770px){
    .logo{
        margin-left: 60px;
    }
    .hamburger, .disableNavDisable, .disableNavActive, .activeNav ,.nav-links button{
        display: none;
    }
    
    .disabledNav{
        position:relative;
        background-color: transparent;
        height: 60px;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-links{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-links a{
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 !important;
        margin-right: 60px !important;
        font-weight: 500;
    }
}