.navbarContein{
    padding: 0 !important;
    width: 100%;
    transition: all 0.4s ease-in-out;

}
.logo{
    height: 35px;
    margin-left: 30px;
}
.hamburger{
    cursor:pointer;
    font-size: 2rem;
    color: #000000;
    margin-right: 40px;
}
.nav-links{
    font-size: 1.1rem;
    padding: 40px;
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #2e2e2e;
}
.nav-links a{
    cursor: pointer;
}

.nav-links a:hover {
    color: #686868;
}
.activeNav{
    position: absolute;
    height: 100vh;
    background-color: #ffffff;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1000000;
}
.disabledNav{
    position: absolute;
    background-color: #ffffff;
    height: 100vh;
    right: -200px;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000000;
}
.nav-links button{
    margin-right: 10px;
    outline: none;
    padding: 0;
    color: #2e2e2e;
    font-size: 2rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.disableNavActive{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
}
.disableNavDisable{
    position: absolute;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff00;
    top: 0;
    left: 0;
}

 .activeInput{
    position: absolute;
    background-color: #ffffff;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    z-index: 1000000;
            
}
.disabledInput{
    position: absolute;
    right: -200px;
    top: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1000000;
            
}
@media(min-width:770px){
    
    .hamburger, .disableNavDisable, .disableNavActive, .activeNav ,.nav-links button{
        display: none;
    }
    
    .disabledNav{
        position:relative;
        background-color: transparent;
        height: 60px;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .disabledInput{
        position:relative;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }

   
    .nav-links{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-links a{
        color: #2e2e2e;
        font-size: 16px;
        font-weight: 500;
    }
}   